# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ecoscsan"

# Server
PORT=5000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:19000

# External APIs
BARCODE_API_KEY=your_api_key_here
